In [4]:
import matplotlib
import matplotlib.pyplot as plt
import csv
import math
import pandas as pd  
import numpy as np  
import tensorflow as tf  
from sklearn.metrics import explained_variance_score, mean_absolute_error, median_absolute_error
from sklearn.model_selection import train_test_split

In [6]:
weather = pd.read_csv('weather_norm.csv').drop(['Unnamed: 0'],axis=1)
weather.head()

,id,station_id,time,temperature,pressure,humidity,wind_speed,1.0,2.0,3.0,...,7.0,8.0,Cloudy,Hail,Light Rain,Overcast,Rain,Sleet,Sunny/clear,Thundershower
0,2050685,shunyi_meo,2018-04-01 17:00:00,0.592857,0.611818,0.71,0.07500,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,2050686,hadian_meo,2018-04-01 17:00:00,0.550000,0.590000,0.71,0.06250,0,1,0,...,0,0,0,1,0,0,0,0,0,0
2,2050687,yanqing_meo,2018-04-01 17:00:00,0.531429,0.132727,0.49,0.04375,0,1,0,...,0,0,0,1,0,0,0,0,0,0
3,2050688,miyun_meo,2018-04-01 17:00:00,0.550000,0.568182,0.75,0.02500,0,0,1,...,0,0,0,1,0,0,0,0,0,0
4,2050689,huairou_meo,2018-04-01 17:00:00,0.588571,0.565455,0.69,0.06250,1,0,0,...,0,0,0,1,0,0,0,0,0,0

In [7]:
air = pd.read_csv('air_norm.csv').drop(['Unnamed: 0'],axis=1)
weather.head()

,id,station_id,time,temperature,pressure,humidity,wind_speed,1.0,2.0,3.0,...,7.0,8.0,Cloudy,Hail,Light Rain,Overcast,Rain,Sleet,Sunny/clear,Thundershower
0,2050685,shunyi_meo,2018-04-01 17:00:00,0.592857,0.611818,0.71,0.07500,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,2050686,hadian_meo,2018-04-01 17:00:00,0.550000,0.590000,0.71,0.06250,0,1,0,...,0,0,0,1,0,0,0,0,0,0
2,2050687,yanqing_meo,2018-04-01 17:00:00,0.531429,0.132727,0.49,0.04375,0,1,0,...,0,0,0,1,0,0,0,0,0,0
3,2050688,miyun_meo,2018-04-01 17:00:00,0.550000,0.568182,0.75,0.02500,0,0,1,...,0,0,0,1,0,0,0,0,0,0
4,2050689,huairou_meo,2018-04-01 17:00:00,0.588571,0.565455,0.69,0.06250,1,0,0,...,0,0,0,1,0,0,0,0,0,0